In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /home/mohammed_shaneeb/anaconda3/lib/python3.9/site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in /home/mohammed_shaneeb/anaconda3/lib/python3.9/site-packages (from mysql-connector-python) (4.21.12)

In [12]:
import os
from dotenv import load_dotenv
load_dotenv()
host = os.environ.get('host')
user = os.environ.get('user')
password = os.environ.get('password')
database = os.environ.get('database')

In [13]:
import mysql.connector

# Replace these with your own MySQL server credentials
db_config = {
    "host": host,
    "user": user,
    "password": password,
    "database": database,
}

def connect_to_database():
    try:
        conn = mysql.connector.connect(**db_config)
        return conn
    except mysql.connector.Error as err:
        print(f"Error: {err}")
        return None

## Create Table

In [3]:
def create_table():
    conn = connect_to_database()
    if conn is not None:
        try:
            cursor = conn.cursor()
            # Define SQL to create the Students table
            sql = """
                CREATE TABLE IF NOT EXISTS Students (
                    id INT AUTO_INCREMENT PRIMARY KEY,
                    name VARCHAR(255),
                    age INT,
                    place VARCHAR(255),
                    class VARCHAR(255),
                    grade VARCHAR(255)
                )
            """
            cursor.execute(sql)
            print("Table 'Students' created successfully!")
        except mysql.connector.Error as err:
            print(f"Error: {err}")
        finally:
            conn.close()

In [4]:
create_table()

Table 'Students' created successfully!

## Insert into Table

In [5]:
def insert_student(conn, name, age, place, student_class, grade):
    try:
        cursor = conn.cursor()
        insert_query = "INSERT INTO Students (name, age, place, class, grade) VALUES (%s, %s, %s, %s, %s)"
        data = (name, age, place, student_class, grade)
        cursor.execute(insert_query, data)
        conn.commit()
        print("Record inserted successfully.")
    except mysql.connector.Error as err:
        print(f"Error: {err}")

# Usage example:
# conn = connect_to_database()
# insert_student(conn, "John Doe", 25, "New York", "Math", "A")

## Delete Record

In [6]:
def delete_student(conn, student_id):
    try:
        cursor = conn.cursor()
        delete_query = "DELETE FROM Students WHERE id = %s"
        data = (student_id,)
        cursor.execute(delete_query, data)
        conn.commit()
        print("Record deleted successfully.")
    except mysql.connector.Error as err:
        print(f"Error: {err}")

# Usage example:
# conn = connect_to_database()
# delete_student(conn, 1)  # Delete student with ID 1

## Update

In [7]:
def update_student(conn, student_id, name, age, place, student_class, grade):
    try:
        cursor = conn.cursor()
        update_query = "UPDATE Students SET name = %s, age = %s, place = %s, class = %s, grade = %s WHERE id = %s"
        data = (name, age, place, student_class, grade, student_id)
        cursor.execute(update_query, data)
        conn.commit()
        print("Record updated successfully.")
    except mysql.connector.Error as err:
        print(f"Error: {err}")

# Usage example:
# conn = connect_to_database()
# update_student(conn, 1, "Updated Name", 30, "Los Angeles", "History", "B")

In [8]:
def clear_records():
    conn = connect_to_database()
    if conn is not None:
        try:
            cursor = conn.cursor()
            # Define SQL to delete all records from the Students table
            sql = "DELETE FROM Students"
            cursor.execute(sql)
            conn.commit()
            print("All records in 'Students' table cleared successfully!")
        except mysql.connector.Error as err:
            print(f"Error: {err}")
        finally:
            conn.close()

In [9]:
conn = connect_to_database()

In [10]:
insert_student(conn, "John Doe", 25, "New York", "Math", "A")
insert_student(conn, "Jane Smith", 22, "Los Angeles", "Chemistry", "B")
insert_student(conn, "Michael Johnson", 23, "Chicago", "History", "A-")
insert_student(conn, "Emily Davis", 21, "San Francisco", "Computer Science", "A+")
insert_student(conn, "Robert Wilson", 24, "Boston", "Economics", "B+")
insert_student(conn, "Sarah Lee", 22, "Seattle", "Physics", "A-")
insert_student(conn, "William Brown", 26, "Miami", "English", "B-")
insert_student(conn, "Olivia Taylor", 20, "Austin", "Biology", "A")
insert_student(conn, "James Miller", 23, "Denver", "Psychology", "B")
insert_student(conn, "Sophia Anderson", 22, "Atlanta", "Sociology", "B+")
insert_student(conn, "Ethan Garcia", 25, "Dallas", "Political Science", "A-")
insert_student(conn, "Ava Martinez", 24, "Phoenix", "Music", "C+")
insert_student(conn, "Liam Hernandez", 21, "Philadelphia", "Art", "A")
insert_student(conn, "Mia Lopez", 22, "San Diego", "Engineering", "A+")
insert_student(conn, "Noah Gonzalez", 23, "Houston", "Geology", "B")
insert_student(conn, "Isabella Perez", 20, "Detroit", "Environmental Science", "B-")
insert_student(conn, "Benjamin Carter", 24, "Minneapolis", "Business", "A-")
insert_student(conn, "Amelia Hall", 22, "Portland", "Communications", "B+")
insert_student(conn, "Henry Sanchez", 25, "Nashville", "Marketing", "B")
insert_student(conn, "Harper Adams", 21, "Raleigh", "Film Studies", "A")
insert_student(conn, "Samuel King", 24, "Salt Lake City", "Anthropology", "B-")
insert_student(conn, "Evelyn Mitchell", 23, "Indianapolis", "Linguistics", "A")
insert_student(conn, "Daniel Turner", 26, "Pittsburgh", "Statistics", "A+")
insert_student(conn, "Grace Scott", 22, "Orlando", "Philosophy", "B+")
insert_student(conn, "Matthew Wood", 25, "Sacramento", "Nursing", "A-")
insert_student(conn, "Chloe Green", 20, "Charlotte", "Education", "A")
insert_student(conn, "Jackson Baker", 23, "San Antonio", "Nutrition", "B")
insert_student(conn, "Lily Ramirez", 22, "Tampa", "Religious Studies", "A-")
insert_student(conn, "Sebastian Reed", 24, "Las Vegas", "Theater", "C+")
insert_student(conn, "Zoey Cooper", 21, "Kansas City", "Philosophy", "A")
insert_student(conn, "Aiden Flores", 23, "Baltimore", "Chemistry", "A+")
insert_student(conn, "Penelope Ward", 24, "St. Louis", "Physics", "B")
insert_student(conn, "Gabriel Diaz", 22, "Milwaukee", "History", "B-")
insert_student(conn, "Addison Nelson", 25, "New Orleans", "Sociology", "B+")
insert_student(conn, "Scarlett Campbell", 21, "Memphis", "Psychology", "A-")
insert_student(conn, "Elijah Mitchell", 24, "Cincinnati", "Economics", "A-")
insert_student(conn, "Hannah Turner", 22, "Columbus", "Political Science", "B+")
insert_student(conn, "Jackson Davis", 23, "San Jose", "Computer Science", "A")
insert_student(conn, "Ava Wilson", 25, "Oakland", "Engineering", "A+")
insert_student(conn, "Sophia Taylor", 21, "San Francisco", "Art", "B")
insert_student(conn, "William Baker", 26, "Los Angeles", "Business", "C+")
insert_student(conn, "Olivia Lewis", 22, "Seattle", "Communications", "A")
insert_student(conn, "Ethan Harris", 24, "Dallas", "Marketing", "A+")
insert_student(conn, "Mia Rodriguez", 23, "Chicago", "Film Studies", "B")
insert_student(conn, "Noah White", 20, "Miami", "Anthropology", "B-")
insert_student(conn, "Isabella Jackson", 22, "Atlanta", "Linguistics", "A")
insert_student(conn, "Liam Hall", 25, "Boston", "Statistics", "A-")
insert_student(conn, "Sophia Smith", 23, "Austin", "Nursing", "B+")
insert_student(conn, "Benjamin Adams", 24, "Denver", "Education", "B")
insert_student(conn, "Emily Moore", 21, "San Diego", "Nutrition", "A")

Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.
Record inserted successfully.